


nav{
    background-color: olivedrab;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li{
    padding: 5px 15px 5px 15px;
    list-style: none;
}

nav ul li a{
    color: black;
}


.GameBorde{
    display: flex;
    flex-direction: row;
    height: 400px;
    max-width: 750px;
    padding: 20px;
    border: 2px solid black;
    outline: #4CAF50 solid 10px;
    margin: auto;
    text-align: center;
}

.GameImgStory{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 0 5px 0 0;
}

.GameImg{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
    padding: 0 0 15px 0;
}

.GameImg img{
    width: 100%;
    height: 100%;
}

.GameStory{
    display: flex;
    flex-direction: column;
    background-color: #555555;
    height: 50%;
    color: white;
}


.GameMenu{
    background-color: coral;
    width: 30%;

}
 .GameMenu ul{
     display: flex;
     flex-direction: row;
     width: 80%;
     padding: 0 0 0 25px ;
 }

.GameMenu ul li{
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px 5px 5px 5px;
    list-style: none;
    width: 100%;
    background-color: #4CAF50;
    border: none;
    color: white;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;


}