


nav{
    background-color: olivedrab;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li{
    padding: 5px 15px 5px 15px;
    list-style: none;
}

nav ul li a{
    color: black;
}


.GameBorde{
    display: flex;
    flex-direction: row;
    height: 400px;
    padding: 20px;
    border: 2px solid black;
    outline: #4CAF50 solid 10px;
    margin: auto;

    text-align: center;
}

.GameImgStory{
    width: 70%;
    padding: 0 5px 0 0;
}

.GameImg{
    height: 50%;
}

.GameStory{
    background-color: blue;
    height: 50%;
}

.GameMenu{
    background-color: coral;
    width: 30%;

}
 .GameMenu ul{
     justify-content: center;
 }

.GameMenu ul li{
    margin: 5px 5px 25px 20px;
    padding: 5px 5px 5px 5px;
    list-style: none;
    width: 100px;

    background-color: #4CAF50; /* Green */
    border: none;
    color: white;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}